﻿@model MyGame.Web.Models.MonstersViewModel
@{
    ViewBag.Title = "MonsterIndex";
}

<h2>Monster Index</h2>
<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("MonsterEdit", Model.EditedMonster)
@Html.Partial("MonsterList", Model.ListOfMonsters)