﻿@model IEnumerable<MyGame.Web.Models.Monster>


@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Type)</th>
            <th>Details</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Name)</td>
                    <td>@Html.DisplayFor(m => item.Type)</td>
                    <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.Id })</td>
                    <td>@Html.ActionLink("[DELETE]", "Delete", new { id = item.Id })</td>
                    <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.Id })</td>
                </tr>
            }
            </tr>
        </table>
    }