﻿@model MyGame.Web.Models.Monster

@{
    ViewBag.Title = "MonsterDetails";
}

<h2>Monster Details</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>The ID for the car</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Type)</td>
        <td>@Html.DisplayFor(m => m.Type)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ElementId)</td>
        <td>@Html.DisplayFor(m => m.ElementId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Hitpoints)</td>
        <td>@Html.DisplayFor(m => m.Hitpoints)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Attack)</td>
        <td>@Html.DisplayFor(m => m.Attack)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Defense)</td>
        <td>@Html.DisplayFor(m => m.Defense)</td>
    </tr>
</table>