﻿@model MyGame.Web.Models.Monster

<h2>Edit a monster</h2>

@using (Html.BeginForm("Edit", "Monsters"))
{

    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.ElementId)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ElementId)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Type)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Type)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Hitpoints)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Hitpoints)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Attack)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Attack)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Defense)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Defense)</div>

    <input type="submit" value="Edit/Add" />
}